*{
    margin: 0;
    font-family: sans-serif;
    transition: 0.5s ease-in-out;
    font-size: 96%;
}
.cutter{
    border: 1px dashed #333;
}
.container{
    display: flex;
    margin: 2rem;
    border: 1px solid #ccc;
    border-collapse: collapse;
}
.container .left{
    border: 1px solid #ccc;
    flex: 0.3;
    border-collapse: collapse;
}
.container .left .logo{
    text-align: center;
}
.logo img{
    width: 100%;
}
.container .heading{
    background-color: rgba(51, 51, 51, 0.325);
    color: #212121;
    padding: 0.5rem;
    text-align: center;
}
.container .heading h4{
    font-weight: 600;
}
.container .detail{
    display: flex;
}
.container .detail h4{
    background-color: #bababa86;
    font-weight: 600;
    width: 300px;
}
.container .detail h4, .container .detail p{
    padding: 0.5rem 0.5rem;
    border: 1px solid #ccc;
    border-collapse: collapse;
    background-color: #fff;
}
.container .detail p {
   width: 100%;
   font-weight: 300;
}
.container .right{
    border: 1px solid #ccc;
    border-collapse: collapse;
    flex: 0.7;
}

