.cutter {
  border: 1px dashed #333;
}
.container {
  font-size: 82%;
  display: flex;
  margin: 2rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.container .left {
  border: 1px solid #ccc;
  flex: 0.3;
  border-collapse: collapse;
}
.container .left small{
  font-weight: 700;
  padding-left: 1rem;
}
.container .left .logo {
  text-align: center;
}
.logo img {
  width: 100%;
  margin-top: 2.5rem;
}
.container .heading {
  background-color: rgba(51, 51, 51, 0.325);
  color: #212121;
  padding: 0.5rem;
  text-align: center;
}
.container .heading h4 {
  font-weight: 600;
}
.container .detail {
  display: flex;
}
.container .detail h4 {
  background-color: #bababa86;
  font-weight: 600;
  width: 300px;
}
.container .detail h4,
.container .detail p {
  padding: 0.5rem 0.5rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
  background-color: #fff;
}
.container .detail p {
  width: 100%;
  font-weight: 300;
}
.container .right {
  border: 1px solid #ccc;
  border-collapse: collapse;
  flex: 0.7;
}
