.customer-info {
  padding: 2rem;
}

.top-bar {
  border-bottom: 1px solid rgba(128, 128, 128, 0.516);
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.top-bar .heading h2 {
  font-weight: 400;
}

.top-bar .pointer {
  display: flex;
  align-items: center;
  padding-bottom: 0;
}

.top-bar .pointer .step {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 0.5rem;
}

.top-bar .pointer .point {
  display: flex;
}

.top-bar .pointer .point .one {
  background-color: rgb(0, 0, 123);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.top-bar .pointer .point .two {
  background-color: rgba(128, 128, 128, 0.516);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.item-details {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-details form input {
  padding: 1rem;
  outline: none !important;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.516);
}

.item-details form input:focus {
  border: 1px solid rgba(0, 0, 123, 0.811);
}

.item-details .items {
  background-color: aliceblue;
  padding: 1rem 3rem;
  border-radius: 4px;
}

th,
td {
  padding: 0.5rem 0rem;
  padding-right: 0.9rem;
}

.items .item .delete {
  display: block;
  text-align: center;
  padding: 0.5rem 0rem;
  font-size: 1.2rem;
  color: aliceblue;
}

.items .item:hover .delete {
  display: block;
  cursor: pointer;
  background-color: crimson;
  color: #fff;
  border-radius: 4px;
}
