.cutter {
  border: 1px dashed #333;
}

.container {
  font-size: 0.7rem;
  display: flex;
  margin: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.container .left {
  border: 1px solid #ccc;
  flex: 0.3;
  border-collapse: collapse;
}
.container .left small {
  font-weight: 700;
  padding-left: 1rem;
  font-size: 0.7rem;
}
.container .left .logo {
  text-align: center;
}
.logo img {
  width: 90%;
  margin-top: 2.5rem;
}
.container .heading {
  background-color: rgba(51, 51, 51, 0.325);
  color: #212121;
  padding: 0.5rem;
  text-align: center;
}
.container .heading h4 {
  font-weight: 600;
}
.container .detail {
  display: flex;
}
.container .detail h4 {
  background-color: #f1f1f1;
  font-weight: 600;
  width: 300px;
}
.container .detail h4,
.container .detail p {
  padding: 0.5rem 0.5rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.container .detail p {
  background-color: #fff;
  width: 100%;
  font-weight: 300;
}
.container .right {
  border: 1px solid #ccc;
  border-collapse: collapse;
  flex: 0.7;
}

.payment-detail {
  display: flex;
  justify-content: space-between;
}
.payment-detail .detail h4 {
  width: 200px;
}
.payment-detail .detail p{
  width: 50%;

}