.customer-info {
  padding: 2rem;
}
.main-logo{
  display: block;
  margin: 1rem auto;
  text-align: center;
}
.main-logo img{
  width: 15%;
}

.top-bar {
  border-bottom: 1px solid rgba(128, 128, 128, 0.516);
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.top-bar .heading h2 {
  font-weight: 400;
}

.top-bar .pointer {
  display: flex;
  align-items: center;
  padding-bottom: 0;
}

.top-bar .pointer .step {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 0.5rem;
}

.top-bar .pointer .point {
  display: flex;
}

.top-bar .pointer .point .one {
  background-color: rgb(0, 0, 123);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.top-bar .pointer .point .two {
  background-color: rgba(128, 128, 128, 0.516);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.item-details {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.item-details form input {
  padding: 1rem;
  outline: none !important;
  margin-right: 2rem;
  width: 20%;
  margin-bottom: 2rem;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.516);
}

.item-details form input:focus {
  border: 1px solid rgba(0, 0, 123, 0.811);
}


#cAddress{
  width: 45.3%;
}
